*{
    font-family:  "Montserrat", sans-serif ;
    margin: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

body{
    display: grid;
    grid-template-columns: 90px 1fr;
    height: 100vh;

}

header{
    display: grid;
    grid-template-rows: 90px 1fr;
}


section{
    display: flex;
}

#menu{
    background-color: #0f0f0f;
    position: relative;
    svg{
        fill: white;
        height: 30px;
        width: 30px;
        margin-top: 25px;
        margin-left: 30px;
       
    }
}

#menu-click{
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    opacity: 10;
    z-index: 201;
    width: 30px;
    height: 30px;
}

#menu-click:checked{
    z-index: 200;
}

#menu-click:checked+aside {
     left: 0;
    }

aside{ 
    position: fixed;
    height: 100vh;
    width: 305px;
    background-color: white;
    top: 0;
    left: -305px;
    padding: 140px 60px 10px 59px;
    font-family:  "Montserrat", sans-serif;
    z-index: 199;
    transition: 0.4s;
}

#barra-menu{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
#arrow-left{
    background-color: black;
    width: 100px;
    svg{
        fill: white;
        height: 35px;
        width: 35px;
    }
}

#tulen{
    background-color: blue;
    width: 205px;
}

#tulen h1{
    color: white;
    text-align: center;
    font-size: 45px;
}
#espaco-branco{
    width: 305px;
    height: 100px;
}

#side-menu li {
    list-style: none;
    font-size: 35px;
    font-weight: 600;
    margin-top: 30px;
}

#side-menu li a:hover{
    text-decoration: none;
    color: blue;
    transition: 0.5s;
}
#home{
    text-decoration: none;
    color: lightgray;
}
#about{
    text-decoration: none;
    color: lightgray;
}
#gallery{
    text-decoration: none;
    color: blue;
}
#blog{
    text-decoration: none;
    color: lightgray;
}
#contact{
    text-decoration: none;
    color: lightgray;
}


#side-menu div{
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    svg{
        fill: lightgray;
        height: 20px;
        width: 20px;
    }
}

#side-menu h2 {
    position: relative;
    right: 50px;
    font-size: 15px;
    width: 250px;
    height: 80px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 1px;
    color: lightgray;
    svg{
        width: 15px;
        height: 15px;
        fill: red;
        margin: 0;
    }
} 


#social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    svg{
        margin-bottom: 50px;
        width: 20px;
        height: 20px;
    }
}



.Galle{
    height: 150%;
    overflow: hidden;
    position: relative;
    padding-top: 90px;
}
.heade{
position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    padding-top: 30px;
    padding-right: 74px;
    padding-left: 210px;
    z-index: 99;
}
.text{
        float: left;
    margin-bottom: 30px;
    font-size: 26px;
    color: #252525;
    font-weight: 600;
}
.fd{
    box-sizing: border-box;
    display: flex;
    list-style: none;
    float: right;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.fd>li{
    display: inline-block;
    font-size: 21px;
    font-weight: 500;
    margin-left: 35px;
    
}
.all{
    color: #2916e0;
}
.Grid{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(10, 1fr);
    grid-template-rows: repeat(10, 5vw);
    height: 100%;
    
}
.img1{
 height: 100%;
 width: 100%;
 
 display: block;
 
 
}
.itemgaleria{
    overflow: hidden;
    position: relative;
}
.item1{
    grid-column: 1 / span 4;
    grid-row: 1 / span 5;
    
}
.item2{
    grid-column: 5 / span 2;
    grid-row: 1 / span 3;
}
.item3{
    grid-column: 7 / span 2;
    grid-row: 1 / span 3;
}
.item4{
    grid-column: 9 / span 2;
    grid-row: 1 / span 5;
}
.item5{
    grid-column: 1 / span 4;
    grid-row: 6 / span 3;
}
.item6{
    grid-column: 5 / span 4;
    grid-row: 4 / span 5;
}
.item7{
    grid-column: 9 / span 2;
    grid-row: 6 / span 3;
}
.item8{
    grid-column: 1 / span 2;
    grid-row: 9 / span 3;
}
.item9{
    grid-column: 3 / span 4;
    grid-row: 9 / span 3;
}
.item10{
     grid-column: 7 / span 2;
    grid-row: 9 / span 3;
}
.item11{
    grid-column: 9 / span 2;
    grid-row: 9 / span 3;
}
.auto{
    position: absolute;
    left: 30px;
    bottom: 30px;
    opacity: 0;
}
.Arthur{
    padding-top: 5px;
    display: inline-block;
    color: #fff;
    position: relative;
    top: 2px;
}

.Grid .itemgaleria .auto{
    opacity: 0;
}
.Grid:hover .itemgaleria .auto{
    opacity: 0;
    transition: 0.5s;
}
.Grid:hover .itemgaleria:hover .auto{
    opacity: 1;
    transition: 0.5s;
}